@include desktop-tablet {
    .champDetailPage__middle {
        display: flex;
        flex-direction: column;
        margin: $margin_padding30 0;
        .top {
            text-align: left;
            font-size: $fontSize_15px;
            margin-bottom: $margin_padding20;
        }

        .bottom {
            background-color: $cardColor_1;
            border-radius: 15px;
            font-size: $fontSize_xxxsm_rem;
            .abilities {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                padding: $margin_padding20;

                .armor {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .crit {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .hp {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .mp {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .attackdamage {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .attackspeed {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .movespeed {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .ability_point {
                    font-size: $fontSize_xsm_rem;
                    color: $whiteColor;
                }

                .ability_point._armor {
                    color: $highResultColor;
                }

                .ability_point._hp {
                    color: $deathsColor;
                }
                .ability_point._mp {
                    color: $killsColor;
                }
            }
            .abilities .ability_sell {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@include mobile {
    .champDetailPage__middle {
        display: flex;
        flex-direction: column;
        margin: $margin_padding30 0;
        .top {
            text-align: left;
            font-size: $fontSize_15px;
            margin-bottom: $margin_padding20;
        }

        .bottom {
            background-color: $cardColor_1;
            border-radius: 15px;
            font-size: $fontSize_xxxsm_rem;
            .abilities {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding: $margin_padding20;

                .armor {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .ability_sell.crit,
                .ability_sell.attackdamage,
                .ability_sell.attackspeed,
                .ability_sell.movespeed {
                    display: none;
                }

                .hp {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .mp {
                    border-right: 1px solid $lightBlueFontColor;
                }

                .ability_point {
                    font-size: $fontSize_xsm_rem;
                    color: $whiteColor;
                }

                .ability_point._armor {
                    color: $highResultColor;
                }

                .ability_point._hp {
                    color: $deathsColor;
                }
                .ability_point._mp {
                    color: $killsColor;
                }
            }
            .abilities .ability_sell {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
