@import "./constants/mixin";
@import "./constants/variables";

.masteryPage {
    color: $lightBlueFontColor;
    display: flex;
    justify-content: center;
    font-size: $fontSize_xxsm_rem;
}

@include desktop {
    .masteryPage {
        .masteries_table_container {
            border-radius: 15px;
            background-color: $cardColor_1;
            padding: $margin_padding15;
            display: grid;
            width: 100%;
            margin: $margin_padding5;

            @include Masteries;
        }
    }
}

@include tablet {
    .masteryPage {
        .masteries_table_container {
            border-radius: 15px;
            background-color: $cardColor_1;
            padding: $margin_padding15;
            display: grid;
            width: 100%;
            margin: $margin_padding5;

            @include Masteries;
        }
    }
}

@include mobile {
    .masteryPage {
        .masteries_table_container {
            border-radius: 15px;
            background-color: $cardColor_1;
            padding: $margin_padding15;
            display: grid;
            margin: $margin_padding5;

            @include Masteries;
        }
    }
}
