@import './constants/mixin';
@import './constants/variables';



@include desktop {


    .summoner-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        padding: 25px;

        .summoer_menu {
            flex: 3;
        }



        .summoner_info_bottom {
            // border: 2px solid white;
            display: grid;
            grid-template-columns: 2fr 4fr 2fr;
            column-gap: 4rem;
        }



    }

    .custom_card {
        // border: 3px solid plum;
        margin: 5px;
        background-color: $cardColor_1;
        color: white;
        border-radius: $borderRadius;
    }


    .summoner_info_bottom_left {

        .detail-info {
            display: flex;
            flex-direction: column;
            font-size: 15px;
            padding-top: $margin_padding15;

            .detail_title {
                font-size: 20px;
                font-weight: bolder;
                display: flex;
                padding-left: $margin_padding15;
            }

            .detail-parent {
                border-radius: 10px;
                padding: $margin_padding15;
                background-color: $mainBackgroundColor;
                margin: $margin_padding15;
                display: flex;

                .emblem-img {
                    width: 100px;
                    height: 120px;
                    // margin-top: 80px;
                }

                .detail {
                    margin-left: $margin_padding15;
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        margin-top: $margin_padding15;
                    }

                    .queue-type {
                        font-size: 13px;
                        color: $lightBlueFontColor;
                    }

                    .tier {
                        color: red;
                        font-weight: bolder;
                    }

                    .lp {
                        font-weight: bolder;
                    }

                    .winRate {
                        margin-right: 10px;
                        color: #fff
                    }

                    .totalGame {
                        color: $lightBlueFontColor;
                    }

                }

                .percentage-circle {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .detail_graph {
            padding: $margin_padding15;
        }

    }

}

@include tablet {


        .summoner-info {
                margin-bottom: 60px;
                padding: 25px;

                .summoer_menu {
                    flex: 3;
                }



        .summoner_info_bottom {
            display: flex;
            flex-direction: column;
            width: 100%;
        }



    }

    .custom_card {
        // border: 3px solid plum;
        margin: 5px;
        background-color: $cardColor_1;
        color: white;
        border-radius: $borderRadius;
    }

    .summoner_info_bottom_left {

        .detail-info {
            display: flex;
            flex-direction: column;
            font-size: 15px;
            padding-top: $margin_padding15;

            .detail_title {
                font-size: 20px;
                font-weight: bolder;
                display: flex;
                padding-left: $margin_padding15;
            }

            .detail-parent {
                border-radius: 10px;
                padding: $margin_padding15;
                background-color: $mainBackgroundColor;
                margin: $margin_padding15;
                display: flex;

                .emblem-img {
                    width: 100px;
                    height: 120px;
                    // margin-top: 80px;
                }

                .detail {
                    margin-left: $margin_padding15;
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        margin-top: $margin_padding15;
                    }

                    .queue-type {
                        font-size: 13px;
                        color: $lightBlueFontColor;
                    }

                    .tier {
                        color: red;
                        font-weight: bolder;
                    }

                    .lp {
                        font-weight: bolder;
                    }

                    .winRate {
                        margin-right: 10px;
                        color: #fff
                    }

                    .totalGame {
                        color: $lightBlueFontColor;
                    }

                }

                .percentage-circle {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .detail_graph {
            padding: $margin_padding15;
        }

    }
}








@include mobile {



    .summoner-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        padding: 25px;

        .summoer_menu {
            flex: 3;
        }

        .summoner_info_bottom {
            display: flex;
            flex-direction: column;
            width: 100%;
        }


    }

    .custom_card {
        // border: 3px solid plum;
        margin: 5px;
        background-color: $cardColor_1;
        color: white;
        border-radius: $borderRadius;
    }



    .summoner_info_bottom_left {

        .detail-info {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            padding-top: $margin_padding15;

            .detail_title {
                font-size: 15px;
                font-weight: bolder;
                display: flex;
                padding-left: $margin_padding15;
            }

            .detail-parent {
                border-radius: 10px;
                padding: $margin_padding15;
                background-color: $mainBackgroundColor;
                margin: $margin_padding15;
                display: flex;

                .emblem-img {
                    width: 80px;
                    height: 90px;
                    // margin-top: 80px;
                }

                .detail {
                    margin-left: $margin_padding15;
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        margin-top: $margin_padding15;
                    }

                    .queue-type {
                        font-size: 13px;
                        color: $lightBlueFontColor;
                    }

                    .tier {
                        color: red;
                        font-weight: bolder;
                    }

                    .lp {
                        font-weight: bolder;
                    }

                    .winRate {
                        margin-right: 10px;
                        color: #fff
                    }

                    .totalGame {
                        color: $lightBlueFontColor;
                    }

                }

            }
        }

        .detail_graph {
            padding: $margin_padding15;
        }

    }



}