body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    position: relative;
    display: flex;
    margin: 0 auto;
}

.searchTerm {
    width: 100%;
    border: 3px solid $cardColor_1;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: $cardColor_1;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid $cardColor_1;
    background: $cardColor_1;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding: 0 1px 4px 0;
}

.summoner-info {

    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding: 25px;

    .summoer_menu {
        flex: 3;
    }


   
    .summoner_info_bottom {
        // border: 2px solid white;
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        column-gap: 4rem;
    }



}

 .custom_card {
        // border: 3px solid plum;
        margin: 5px;
        background-color: $cardColor_1;
        color: white;
        border-radius: $borderRadius;
    }
