@import './constants/mixin';

@include form;

.signin, .signup{
    margin-top: 20px;
}


.form__text {
    color: #737373;
    font-size: 16px;
    font-weight: 500;
}

.form__smallText {
    margin-top: 10px;
    font-size: 13px;
    line-height: normal;
    color: #8c8c8c;
}

.form__link {
    color: rgb(194, 47, 47);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.otherways_login {
    display: flex;
    flex-direction: column;
    border-top: 8px solid #222;
    margin-top: 20px;
    font-size: 10px;

    h4 {
        margin: 15px 0;
        color: rgb(167, 108, 108);
        text-align: center;
    }

    .google__button {
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        border: 0;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
        }
    }

    i {
        margin-right: 20px;
    }
}
