@import "./constants/variables";
@import './constants/mixin';

@include desktop {
    .matchHistory-page {
        // background-color: $cardColor_1;
        margin: $margin_padding5 auto;
        border-radius: $margin_padding20;
        padding: $margin_padding20;

        .load-data-button {
            display: flex;
            justify-content: center;

            .load-button {
                width: 98%;
                color: white;
                border-radius: 10px;
                padding: $margin_padding5;
            }
        }
    }
    .accordion-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        border-radius: 10px;

        .accordion {
            text-align: center;
            width: 700px;
            padding: 5px 10px 5px 10px;
        }
    }
    
    @include cardBodyBG;
}







@include tablet {
    .matchHistory-page {
        // background-color: $cardColor_1;
        margin: $margin_padding5 auto;
        border-radius: $margin_padding20;
        padding: $margin_padding20;

        .load-data-button {
            display: flex;
            justify-content: center;

            .load-button {
                width: 98%;
                color: white;
                border-radius: 10px;
                padding: $margin_padding5;
            }
        }
    }
    .accordion-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        border-radius: 10px;

        .accordion {
            text-align: center;
            width: 700px;
            padding: 5px 10px 5px 10px;
        }
    }
    
    @include cardBodyBG;
}





@include mobile {
    .matchHistory-page {
        
        margin:$margin_padding5 auto;
        border-radius: $margin_padding20;
        padding: $margin_padding5;

        .load-data-button {
            display: flex;
            justify-content: center;

            .load-button {
                width: 98%;
                color: white;
                border-radius: 10px;
                padding: $margin_padding5;
            }
        }
    }
    .accordion-page {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 0 auto;
        border-radius: 10px;

        .accordion {
            text-align: center;
            width: 100%;
            padding: 2px 5px 2px 5px;
        }
    }

    @include cardBodyBG;
    
}
