$mainBackgroundColor: #070720;
$borderColor: #606170;
$whiteColor: #fff;
$borderRadius: 10px;
$cardColor_1: #191937;
$margin_padding15: 15px;
$margin_padding10: 10px;
$lightBlueFontColor: #cddcfe;
$winColor: rgb(45, 241, 71);

// responsible
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$fontSize_lg: 2.5rem;
$fontSize_md: 2rem;
$fontSize_sm: 1.8rem;
$fontSize_xsm: 1.5rem;
$fontSize_xxsm: 0.8rem;
$fontSize_xxxsm: 0.7rem;

