$mainBackgroundColor: #070720;
$borderColor: #606170;
$whiteColor: #fff;
$borderRadius: 10px;
$cardColor_1: #191937;
$margin_padding15: 15px;
$lightBlueFontColor:#cddcfe;


// responsible 
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;