$mainBackgroundColor: #070720;
$borderColor: #606170;
$whiteColor: #fff;
$borderRadius: 10px;
$cardColor_1: #191937;
$lightBlueFontColor: #cddcfe;
$killsColor: #3273fa;
$deathsColor:#ff4e50;
$assistColor:#ffdf4e;

// responsible
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// font
$fontSize_lg_rem: 2.5rem;
$fontSize_md_rem: 2rem;
$fontSize_sm_rem: 1.8rem;
$fontSize_xsm_rem: 1.5rem;
$fontSize_xxsm_rem: 0.8rem;
$fontSize_xxxsm_rem: 0.7rem;

$fontSize_20px:20px;
$fontSize_15px:15px;

// margin
$margin_padding20: 20px;
$margin_padding15: 15px;
$margin_padding10: 10px;
$margin_padding5: 5px;

// with, height
$with_height20: 20px;
$with_height40: 40px;

