@import './components/constants/mixin';
@import './components/constants/variables';
@import './components/NavbarComp.scss';
@import './components/MainPage.scss';
@import './components/UserMatchHistory.scss';
@import './components/MatchedGameDetail.scss';
@import './components/ProfileMenu.scss';
@import './components/ProfilePage.scss';
@import './components/SideAdvertisement.scss';




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: $mainBackgroundColor;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.App {
    position: relative;
    min-height: 100vh;

}

.link {
    color: $whiteColor;
    text-decoration: none;
    font-weight: bolder;
}

.logo-img img {
    margin-top: 20px;
    width: 300px;
}

.footer {
    border-top: 5px solid $borderColor;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    color: $whiteColor;

    .jumbotron {
        background-color: $mainBackgroundColor;
    }
}

@include desktop {

    body {
        font-size: 1.3rem;
    }

    .searchWrapper {
        width: 1308.72px;
    }

    .searchOuter {
        display: grid;
        grid-template-columns: 6fr 2fr;
    }

}

@include tablet{
    body {
        font-size: 1.0rem;
    }


    .searchOuter {
        display: grid;
        grid-template-columns: 6fr 2fr;
    }

}

@include mobile{
    body {
        font-size: 0.8rem;
    }
    

    .searchOuter {
        display: grid;
        grid-template-columns: 6fr 2fr;
    }
}